.a {
  color: red;
}

.b {
  color: blue;
}

#study {
  color: red;
  background-color: aqua;
}

ul > .orange {
  color: orange;
}

div .orange {
  color: orange;
}

.box {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  transition: 1s;
}

.box:hover {
  width: 300px;
  background-color: orange;
}

.naver:active {
  color: green;
}

input:focus {
  background-color: yellow;
}

.fruits *:nth-child(3) {
  color: red;
}

.box2::before {
  content: "앞!";
  background-color: yellow;
}

.box2::after {
  content: "뒤";
  display: block;
  width: 30px;
  height: 30px;
  background-color: royalblue;
}

.item {
  width: 100px;
  height: 100px;
  background-color: orange;
  border: 10px solid blue;
}

.item2 {
  width: 100px;
  height: 100px;
  background-color: orange;
  padding: 20px;
  border: 10px solid red;
}

.container {
  background-attachment: fixed;
}

.container .item3 {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: orange;
}

.parent {
  width: 300px;
  height: 200px;
  margin: auto;
  background-color: royalblue;
}

.child {
  width: 50%;
  height: 100px;
  margin: auto;
  background-color: orange;
}
